<section class="w3l-stats py-lg-5 py-5" id="stats" style="background-color: #f7f9fa;">
    <div class="gallery-inner container py-md-5 py-3">
        <div class="row stats-con">
            <div class="col-lg-3 col-6 stats_info counter_grid">
                <span class="fa fa-laptop"></span>
                <p class="value" akhi="1000">1000</p>
                <h4>Projects &amp; Residentials Completed in 2020</h4>
            </div>
            <div class="col-lg-3 col-6 stats_info counter_grid">
                <span class="fa fa-users"></span>
                <p class="value" akhi="500">500</p>
                <h4>Qualified Employees &amp; Workers With Us</h4>
            </div>
            <div class="col-lg-3 col-6 stats_info counter_grid mt-lg-0 mt-5">
                <span class="fa fa-trophy"></span>
                <p class="value" akhi="700">700</p>
                <h4>Satisfied Clients We Served Globally</h4>
            </div>
            <div class="col-lg-3 col-6 stats_info counter_grid mt-lg-0 mt-5">
                <span class="fa fa-smile-o"></span> 
                <p class="value" akhi="999">999</p>
                <h4>Years Of Experience In The Industry</h4>
            </div>
        </div>
    </div>
  </section>