<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<div id="pagebody">
   
   <app-navbar></app-navbar>
   
      <router-outlet></router-outlet>
   
   
      <app-footer></app-footer>
      
   
   <button (click)="scrollTop()" type="button" class="btn btn-success btn-scroll-top"> <i class="fas fa-arrow-up"></i> </button>
</div>